body {
  background: #daede2;
  padding: 5%; }

h2,
h3 {
  font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  background: #77c4d3; }
  .container header {
    padding: 8% 8% 3% 8%;
    box-sizing: border-box;
    color: #ffffff; }
    .container header p:first-child {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 2% 3.2%;
      font-size: 2.35rem;
      font-weight: 300;
      background-color: #ea2e49; }
    .container header h1 {
      margin-top: 6%;
      font-size: 7rem;
      line-height: 1; }
    .container header p {
      margin: 0;
      padding: 0;
      line-height: 1.5;
      padding: 3% 0;
      font-size: 1.45em;
      text-transform: uppercase; }
    .container header .header-message {
      padding-top: 15%; }
    .container header p:last-child {
      padding-bottom: 15%;
      border-top: 1px solid #ea2e49; }
      .container header p:last-child a {
        padding: 1px;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #5f9da9; }
        .container header p:last-child a:hover {
          border-color: #ea2e49; }

main {
  width: 67%; }

article {
  position: relative;
  font-size: 1.25em;
  line-height: 1.5;
  color: #333; }
  article h3 {
    font-size: 2.3rem;
    font-weight: 100;
    margin: 1rem 0; }
  article p {
    margin: 1.2rem 0;
    line-height: 1.5; }
  article a {
    padding: 1px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #5f9da9; }
    article a:hover {
      border-color: #ea2e49; }

.introduced {
  padding: 5% 5% 5% 15%;
  margin-right: 8%;
  margin-left: -8%;
  background: rgba(255, 255, 255, 0.9); }

.article-main {
  padding: 15% 8% 0; }

.article-container {
  display: flex;
  flex-direction: row; }

.purpose {
  padding: 8%;
  box-sizing: border-box;
  color: #ffffff; }

.participation {
  z-index: 999;
  padding: 5%;
  margin-right: -60%;
  box-sizing: border-box;
  color: #ffffff;
  background: rgba(234, 46, 73, 0.8); }
  .participation a {
    border-color: #b23046; }
    .participation a:hover {
      border-color: #ffffff; }

.benefits {
  padding: 8%;
  margin-top: 15%;
  margin-bottom: 30%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9); }

.requirements {
  z-index: 999;
  padding: 8%;
  margin-right: -60%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9); }
  .requirements p:last-child {
    padding-top: 1.2rem;
    border-top: 1px solid #ea2e49;
    text-transform: uppercase; }
  .requirements a {
    color: #333;
    border-color: #c2c7c9; }

footer {
  width: 60%;
  padding: 2rem 3rem;
  margin-bottom: 10%;
  margin-left: 8%;
  font-size: 1.25rem;
  background: #eaf299; }
  footer a {
    padding: 3px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #bbc27a; }
    footer a:hover {
      border-color: #ea2e49; }

aside {
  position: relative;
  width: 33%; }
  aside .aside-list {
    z-index: 11;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    bottom: auto;
    padding: 18% 16% 16%;
    box-sizing: border-box;
    background: rgba(246, 247, 146, 0.9); }
    aside .aside-list .aside-list-item {
      margin-bottom: 20%; }
    aside .aside-list h3 {
      font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
      font-weight: 100;
      font-size: 2.25rem;
      margin: 1rem 0; }
    aside .aside-list a {
      padding: 1px;
      border-bottom: 1px solid #bbc27a;
      line-height: 1.5;
      color: #333;
      text-decoration: none; }
      aside .aside-list a:hover {
        border-color: #ea2e49; }
    aside .aside-list ul {
      padding: 0; }
    aside .aside-list li {
      display: block;
      margin: 1rem 0;
      color: #bbc27a;
      font-size: 1.25rem;
      /*font-weight: 400;*/
      font-weight: 600; }

aside::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  background: rgba(51, 51, 51, 0.9); }

@media screen and (max-width: 767px) {
  aside::after {
    display: none; }
  .container {
    flex-direction: column; }
    .container header h1 {
      font-size: 2.25rem;
      line-height: 1.5; }
    .container header p:first-child {
      font-size: 1.25rem; }
  main {
    width: 100%; }
  aside {
    width: 100%; }
  .article-container {
    flex-direction: column; }
  .participation {
    margin-right: 0; }
  .requirements {
    margin-right: 0; }
  .introduced {
    margin: 0; }
  .benefits {
    margin: 0; }
  .article-main {
    padding: 0; }
  aside .aside-list {
    position: relative;
    top: 0; } }
