$bg-color:#daede2 ! default;
$gray:#333 ! default;
$red:#ea2e49 ! default;
$white:#ffffff ! default;
$container-bg-color:#77c4d3 ! default;
$bg-after-color:rgba($gray,.9) ! default;


$site-title-h1-width:17.75rem;
$site-title-h1-height:4.125rem;
$site-title-h1-bg: $red;
$site-title-color:$white;
$site-border-color:$red;
$site-a-border-color:#5f9da9;
$site-a-border-color-hover:$red;

$participation-a-color:#b23046 ! default;

$requirements-border-color:#c2c7c9 ! default;

$aside-bg:rgb(246,247,146);

$footer-bg:#eaf299;
$footer-border-color:#bbc27a ! default;
